<head>
    <title>Архив всех статей</title>
    <link rel="stylesheet" href="/static/css/article.css" type="text/css">
</head>
<body>
    <div class="header">
        <a href="#" class="urles"><img src="/static/img/logo.png" width = 340px ></a>
        
            <h4 class = "registration"><a href = "/registration" style="color: white ">Регистрация</a></h4>
            <h4 class = "login"><a href = "/login" style="color: white ">Вход</a></h4>
    </div>
    <div class="archive">
        {% for post in posts %}
        <div class="one-post">
            <div class="post-title">
                <h2><a href = "article/{{post.id}}">{{ post.title }}</a></h2>
            </div>
            <a class = "fold-button" href = "" onclick = "return false;">свернуть</a>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.get_excerpt }}</p>
            <div class="one-post-shadow"></div>
        </div>
        {% endfor %}
    </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/helloworld.js"></script>
    <script src="/static/js/fold-post.js"></script>
    <script src="/static/js/highlight-post.js"></script>
</body>
