body {
	background: #1abc9c;
	font-family: Tahoma, Arial, sans-serif;
	color: #fffffa;
}

.article h1 {
	background: #1abc9c;
	font-family: Tahoma, Arial, sans-serif;
	color: #ffffff;
}

.archive {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.post-title a {
	color: #ffffff;
}

.article-author
{
	width: 50%;
}

.article-created-date
{
	text-align: right;
}

.to-archive a {
	color: #ffffff;
}

.post-title {
	width: 60%;
	float: left;
}

.fold-button {
	margin: 28 auto 0;
	float: right;
	color: #ffffff;
}

.one-post.folded .article-info,
.one-post.folded .article-text {
	display: none;
}

.registration
{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.login
{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
}


.image
{
    text-align:center;
}
