<html>
<head>
    <title>Архив всех статей</title>
    <link rel="stylesheet" href="/static/css/article.css" type="text/css">
</head>
<body class="archive">
<div class="header">
    <a href="/article/new">Создать статью</a><br>
    <a href="/registration">Регистрация</a><br>
    <a href="/auth">Авторизация</a>
    <p class="center_pos"><img width="15%" src="/static/img/dpb-logo.png"/></p>
</div>
<div class="archive">
    {% for post in posts %}
        <div class="one-post">
            <a class="post-title" href="/article/{{ post.id }}/">{{ post.title }}</a>
            <a href="#" class="fold-button" style="float: right">Свернуть</a>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.get_excerpt }}</p>
        </div>
    {% endfor %}
</div>
<script src="/static/js/helloworld.js"></script>
<script src="/static/js/fold-post.js"></script>
</body>
</html>